
{{!-- About Section start --}}
    <div class="container-fluid mt-5 about-style" id="aboutid">

        <div class="row">
            <div class=" col-md-10 col-12 mx-auto">
                <h1  class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Grow your business with us </p>
                <div class="row">


                    {{!-- Left side --}}

                                        <div class=" col-md-6 col-12  hero-text   ">

                        <figure>
                            <img  src="images/about.svg" height="450px" alt="HeroSection_image">


                        </figure>



                    </div>
                   
                    {{!-- Right side --}}

                     <div class=" col-md-6 col-12  hero-text d-flex justify-content-center align-items-start flex-column ">
                        <h2>WE ARE THE PROFESSIONAL DEVELOPER🤞</h2>
                        <p>I'm Ex Web developer at gowox infotech Pvt Ltd company which is located at muzaffarpur bihar.I have done some live project on wordpress and some php custom work.</p>
                        <button class="btn btn-primary">Read More</button>


                    </div>

                </div>
            </div>

        </div>
    </div>

    {{!-- About  section end --}}