<div class="container-fluid mt-5 about-style" id="conactid">

    <div class="row">
        <div class=" col-md-6 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">We give Presence 24x7</p>
            <div class="row">



                <form>


                    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputPassword1" placeholder="Enter your Name">
  </div>



  <div class="mb-3">    
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>



             <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone Number</label>
    <input type="number" name="phone" class="form-control" id="exampleInputPassword1" placeholder="Enter your phone number">
  </div>





  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Message</label>
    <input type="text" name="message" class="form-control" id="exampleInputPassword1" placeholder="Enter your Message">
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>










                </div>
                </div>
                </div>
                </div>
                