

<section>



    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57301.877515159904!2d85.25764178727307!3d26.152163385038996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed17622589fcb3%3A0x21155ad576d47427!2sShahpur%2C%20Bihar%20843113!5e0!3m2!1sen!2sin!4v1689420940735!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>